# Entornos virtuales de Python 
.venv/
venv/
env/
__pycache__/

# IDEs
.idea/
.vs/
*.suo
*.user
.vscode/

# Node
node_modules/
npm-debug.log

# .NET
bin/
obj/

# Archivos sensibles 
Backend/ApiVeterinaria/.env
Backend/ApiVeterinaria/serviceAccountKey.json
.env
*.pem
*.key
